.aligned{
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}

.container{
}

.more-articles{
}

.more-articles-text{
    
    padding: 5em 2.5em 5em;
    display: grid;  
    grid-template-columns: auto 1fr;
}

.more-articles h3{
    opacity: 0.25;
    padding-right: 0.5em;
}

.spacing{
    border-bottom: .1rem var(--text-second) solid;
    position: relative;
    bottom: .7em;
    opacity: 0.25;
}

.articles-to-iterate{
    padding: 0 4rem 80px;
}

/* STYLES FOR XSMALL RESPONSIVE VIEW */
.more-articles-text.xSmall{
    padding: 3em 2.5em 4em
}
