<div class="aligned container">
    <app-article ></app-article>
    <div class="more-articles">
        <div class="more-articles-text" [ngClass]="getClasses()">
            <h3 >Más articulos de Santiago Carranza</h3>
            <div class="spacing"></div>
        </div>
        <div class="articles-to-iterate" [ngClass]="getClasses()">
            <div *ngFor="let item of dataArticle;">
                <app-article-to-iterate 
                    [dataArticle]="item" 
                    [stylesForMoreArticlesData]="stylesForMoreArticlesData" 
                    [stylesForMoreArticlesDataText]="stylesForMoreArticlesDataText">
                </app-article-to-iterate>
            </div>
        </div>
    </div>  
</div>

