.container{
    margin-bottom: 4em;
}

.presentation-container{
    margin:6em 0 5em;
    max-width: 659px;
}

.presentation-h2{
    font-size: 52px;
    line-height: 1.15;
}

.presentation-h2 span{
    font-weight: bold;
}

.author-data-container{
    display: flex;
}

.author-and-modifier-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.author-img{
    position: relative;
    bottom: .3em;
    margin: 0px 26px 10px 0px;
}

.author-img img{
    border-radius: 50%;
    border: thick double rgba(0, 0, 0, 0.25) ;
}

.author-data{
    max-width: 430px;
    font-size: 16px;
    line-height: 1.45;
    color: var(--text-second);
    max-width: 458px;

}


/* Article view change section */
.change-view-articles{
    display: flex;
    align-items: center;
}

.lupa-search{
    margin-right: 30px;

}
.button1{
    margin-right: 30px;
}

.button1,
.button2{
   position: relative;
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: center;
   justify-content: center;
   height: 36px;
   width: 36px;
   border-radius: 50%;
   background: transparent;
   transition: background 0.25s ease 0s;
}

.button1:hover,
.button2:hover{
    background:var(--icon-hover);
}

.button1 svg,
.button2 svg{
    fill:var(--color-icon);
    transition: opacity 0.2s ease;
}

.activo path{
    fill:var(--text-color);
}


/* STYLES FOR LARGE RESPONSIVE VIEW */
.presentation-h2.large{
    font-size: 48px;
}

/* STYLES FOR MEDIUM RESPONSIVE VIEW */
.presentation-h2.medium,
.presentation-h2.small{
    font-size: 38px;
}

/* STYLES FOR SMALL RESPONSIVE VIEW */
.container.small{
    margin-bottom: 3em;
}

.presentation-container.small{
    margin: 5em 0 4em;
}

.author-and-modifier-container.small,
.author-and-modifier-container.xSmall{
    flex-direction: column;
}

.change-view-articles.small,
.change-view-articles.xSmall{
    margin: 1.3em auto 0;
    padding-bottom: 0;
}

/* STYLES FOR XSMALL RESPONSIVE VIEW */
.container.xSmall{
    margin-bottom: 2em;
}

.presentation-container.xSmall{
    margin: 5em 0 4em;
}

.presentation-h2.xSmall{
    font-size: 28px;
}

.author-data-container.xSmall{
    display: none;
}

.change-view-articles.xSmall{
    margin: 0 auto;
}