<div class="container">
    <div class="presentation-container">
        <h2 class="presentation-h2"><span>Hola, soy Santiago</span>, vivo en Buenos Aires, Argentina. <hr>Soy un desarrollador de software <span> apasionado por JavaScript</span> y las tecnologías web.</h2>
    </div>
    <div class="author-and-modifier-container">
        <div class="author-data-container">
            <div class="author-img">
                <a routerLink="/author">
                    <img src="../../../assets/images/img-40px.png" alt="">
                </a>
            </div>
            <div class="author-data">Soy un desarrollador de software apasionado por JavaScript y las tecnologías web, viviendo en Buenos Aires, Argentina</div>
        </div>
        
        <div class="change-view-articles">
            <button class="button1" title="Ver articulos en formato Tile" (click)="updateTile();btnTile=true;btnRow=false; ">
                <svg [class.activo]="btnTile" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.33337 13.8424H12.0371V5.4165H4.33337V13.8424ZM4.33337 20.5832H12.0371V15.5276H4.33337V20.5832ZM13.963 20.5832H21.6667V12.1572H13.963V20.5832ZM13.963 5.4165V10.4721H21.6667V5.4165H13.963Z"
                    ></path>
                </svg>
            </button>
            <button class="button2" title="Ver articulos en formato Row" (click)=" updateRow();btnRow=true;btnTile=false;">
                <svg [class.activo]="btnRow" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.33331 15.1665H8.41174V10.8332H4.33331V15.1665ZM4.33331 20.5832H8.41174V16.2498H4.33331V20.5832ZM4.33331 9.74984H8.41174V5.4165H4.33331V9.74984ZM9.43135 15.1665H21.6666V10.8332H9.43135V15.1665ZM9.43135 20.5832H21.6666V16.2498H9.43135V20.5832ZM9.43135 5.4165V9.74984H21.6666V5.4165H9.43135Z">
                    </path>
                </svg>
            </button>
        </div>
    </div>
</div>