.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
    padding-bottom: 5em;
}

.container img{
    position: relative;
    height: 164px;
    width: 164px;
    margin-bottom: 2em;
    border-radius: 50%;
    border: 2px solid var(--theme-ui-colors-background,#111216);
    box-shadow: rgb(0 0 0 / 15%) 0px 15.619px 31.2381px;
}

.container h1{
    font-size: 38px;
    margin-bottom: 1em;
    font-weight: 600;
}

.container p{
    max-width: 450px;
    color: var(--fontGrey,#73737D);
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
}

.icons{
    margin-top: 2em;
}