.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    min-height: 100vh;
}

.container img{
    position: relative;
    height: 164px;
    width: 164px;
    margin-bottom: 2em;
    border-radius: 50%;
    border: 3px solid var(--theme-ui-colors-background,#111216);
}

.container h1{
    font-size: 38px;
    margin-bottom: 1em;
    font-weight: 600;
}

.container p{
    max-width: 450px;
    color: var(--text-second);
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
}

.icons{
    margin-top: 2em;
}

/* STYLES FOR XSMALL RESPONSIVE VIEW */
.container.xSmall{
    padding-top: 24%;
}

.container h1.xSmall{
    line-height: 1.1;
    text-align: center;
}