.parent-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0 80px;
}

.parent-container img{
    position: relative;
    height: 164px;
    width: 164px;
    margin-bottom: 2em;
    border-radius: 50%;
    border: 3px solid var(--theme-ui-colors-background,#111216);
}

.parent-container h1{
    font-size: 38px;
    margin-bottom: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
}

.parent-container p{
    /* max-width: 450px; */
    max-width: 520px;
    font-size: 18px;
    line-height: 25.2px;
    padding-bottom: 1em;
}

.link{
    color: var(--color-link);
}

.link:hover{
    text-decoration: underline;
}

/* STYLES FOR XSMALL RESPONSIVE VIEW */
.parent-container{
    padding-top: 3em;
}

.parent-container h1.xSmall{
    line-height: 1.1;
    text-align: center;
}