.container{
    display: flex;
    flex-direction: column;
}

/* Presentation Section */
.container-presentation{
    margin: 6em auto;
    padding-left: 68px;
    padding-right: 68px;
    max-width: 749px;
}

.container-presentation h1{
    font-size: 48px;
    font-family: var(--tipo-secondary);
    line-height: 1.32;
    font-weight: bold;
    margin-bottom: 25px;
}

.author-and-date{
    display: flex;
    align-items: center;
}

.author-and-date a {
    display: flex;
    align-items: center;
}

.author-and-date img{
    height: 40px;
    width: 40px;
    margin: 0px 26px 10px 0px;
    border-radius: 50%;
}

.author-and-date p{
    font-size: 18px;
    line-height:25.2px;
    color: var(--fontGrey);
    padding-bottom: .6em;
    position: relative;
    right: .8em;
}

.author-and-date a p {
    font-weight:700;
    transition:color 0.25s ease;
}

.author-and-date a p:hover{
    color: var(--fontWhite);
}


/* Article Data Section */
.img-hero{
    box-shadow: 0 30px 60px -10px rgb(0 0 0 / 20%), 0 18px 36px -18px rgb(0 0 0 / 22%);
}

.article-info{
    margin: 6em auto 1em;
    padding-left: 68px;
    padding-right: 68px;
    max-width: 749px;
}

.article-info h2{
    font-size: 32px;
    font-weight:700;
    line-height:42.656px;
    font-family: var(--tipo-secondary);
    padding-top: 1.5em;
    padding-bottom: .7em;
}

.article-info p{
    font-size:18px;
    font-family: var(--tipo-third);
    line-height: 1.756;
    padding-bottom: 1em;
}

.link{
    color: var(--fontCream);
}

.link:hover{
    text-decoration: underline;
}



/* STYLES FOR MEDIUM RESPONSIVE VIEW */
.container-presentation.medium{
    padding-left: 53px;
}


/* STYLES FOR SMALL RESPONSIVE VIEW */
.container-presentation.small{
    padding: 0 2.5rem;
}

.container-presentation h1.small{
    font-size: 38px;
    line-height: 1.2;
    text-align: center;
}

.author-and-date.small{
    flex-direction: column;
    align-items: center;
}

.author-and-date p.small{
    position: relative;
    left: .3em;
}

.author-and-date span.small{
    display: none;
}

.article-info h2.small{
    padding-top: 0.4em
}

.article-info p.small{
    padding-bottom: 0.5em;
}


/* STYLES FOR XSMALL RESPONSIVE VIEW */
.container-presentation.xSmall{
    padding: 0 2.5rem;
}

.container-presentation h1.xSmall{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.author-and-date.xSmall{
    flex-direction: column;
    align-items: center;
}

.author-and-date p.xSmall{
    position: relative;
    left: .3em;
}

.author-and-date span.xSmall{
    display: none;
}

.article-info.xSmall{
    margin-top: 3em;
    padding: 0 2.5rem;
}

.article-info h2.xSmall{
    padding-top: 0.6em
}

.article-info p.xSmall{
    padding-bottom: 0.7em;
}