.container{
    display: flex;
    flex-direction: column;
}

/* Presentation Section */
.container-presentation{
    margin: 6em auto;
    padding-left: 68px;
    padding-right: 68px;
    max-width: 749px;
}

.container-presentation h1{
    font-size: 48px;
    font-family: var(--tipo-secondary);
    line-height: 1.32;
    font-weight: bold;
    margin-bottom: 25px;
}

.author-and-date{
    display: flex;
    align-items: center;
}

.author-and-date a {
    display: flex;
    align-items: center;
}

.author-and-date img{
    height: 40px;
    width: 40px;
    margin: 0px 26px 10px 0px;
    border-radius: 50%;
}

.author-and-date p{
    font-size: 18px;
    line-height:25.2px;
    color: var(--text-second);
    padding-bottom: .6em;
    position: relative;
    right: .8em;
}

.author-and-date a p {
    font-weight:700;
    transition:color 0.25s ease;
}

.author-and-date a p:hover{
    color: var(--text-color);
}


/* Article Data Section */
.img-hero{
    box-shadow: 0 30px 60px -10px rgb(0 0 0 / 20%), 0 18px 36px -18px rgb(0 0 0 / 22%);
}

.article-info{
    margin: 6em auto 1em;
    padding-left: 68px;
    padding-right: 68px;
    max-width: 749px;
}

.list{
    padding: 0 1em 0;
    margin: 1em 0 1em;
    background-color: var(--bkg-list);
}

.list h3{
    font-size: 24px;
    font-weight:700;
    line-height:42.656px;
    font-family: var(--tipo-secondary);
    padding-top: .7em;
    padding-bottom: .7em;
}

.list .items{
    color: var(--bkg-list-span-h3);
}

.article-info h2{
    font-size: 32px;
    font-weight:700;
    line-height:42.656px;
    font-family: var(--tipo-secondary);
    padding-top: 1.5em;
    padding-bottom: .7em;
}

.article-info p{
    font-size:18px;
    font-family: var(--tipo-third);
    line-height: 1.756;
    padding-bottom: 1em;
}

.link{
    color: var(--color-link);
}

.link:hover{
    text-decoration: underline;
}

.spinner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.spinner{
    border: 8px solid rgba(0, 0, 0, .1);
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border-left-color: var(--color-link) ;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* STYLES FOR MEDIUM RESPONSIVE VIEW */
@media only screen and (min-width: 960px) and (max-width: 1279.98px) {
    .container-presentation{
        padding-left: 53px;
    }
}

/* STYLES FOR SMALL RESPONSIVE VIEW */
@media only screen and (min-width: 600px) and (max-width: 959.98px) {
    .container-presentation{
        padding: 0 2.5rem;
    }

    .container-presentation h1{
        font-size: 38px;
        line-height: 1.2;
        text-align: center;
    }

    .author-and-date{
        flex-direction: column;
        align-items: center;
    }

    .author-and-date p{
        position: relative;
    }

    .author-and-date span{
        display: none;
    }

    .article-info h2{
        padding-top: 0.4em
    }

    .article-info p{
        padding-bottom: 0.5em;
    }
}

/* STYLES FOR XSMALL RESPONSIVE VIEW */
@media only screen and (min-width: 0px) and (max-width: 599.98px) {
    .container-presentation{
        margin: 3em auto;
        padding: 0 2.5rem;
    }

    .container-presentation h1{
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }

    .author-and-date{
        flex-direction: column;
        align-items: center;
    }

    .author-and-date p{
        position: relative;
       
    }

    .author-and-date span{
        display: none;
    }

    .author-and-date > p{
        text-align: center;
    }

    .article-info{
        margin-top: 3em;
        padding: 0 2.5rem;
    }

    .article-info h2{
        padding-top: 0.6em
    }

    .article-info p{
        padding-bottom: 0.7em;
    }
}