<div class="container">
    <div class="container-presentation" [ngClass]="getClasses()">
        <h1 [ngClass]="getClasses()">Angular: Manejo de la asyncronia con Observables</h1>
        <div class="author-and-date" [ngClass]="getClasses()">
            <a routerLink="/author">
                <img src="../../../assets/images/img-40px.png" alt="">
                <p>Santiago Carranza</p>
            </a>
            <p [ngClass]="getClasses()"><span [ngClass]="getClasses()">,</span> January 16th, 2023 · 1 min read</p>
        </div>
    </div>
    <div class="container-article">
        <div>
            <img src="./../../../assets/images/imagen-article2.png" class="img-hero" alt="Imagen de portada">
        </div>
        <div class="article-info" [ngClass]="getClasses()">
            <p [ngClass]="getClasses()">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, tempore ipsa, maxime dolores consectetur nobis quis atque dolor iste, qui officiis fugiat inventore? Obcaecati repellat, asperiores quisquam fugiat dicta neque!
            Perspiciatis eligendi consequuntur iste earum dicta aspernatur nemo ea, quasi enim minima odio tempora assumenda reprehenderit modi dolorum ad repellendus saepe consequatur soluta et tenetur sunt odit. Dolore, ipsum vero?
            Molestias possimus error soluta cum natus, quasi porro tempore ratione nihil officia eius sunt perferendis sapiente, accusamus doloremque impedit enim dolorum dolores mollitia aspernatur ab neque? Voluptatum nobis magnam labore.
            Nemo, veritatis dolorum dolore id exercitationem soluta nulla quis consequatur voluptatum iure debitis rerum consectetur? Delectus ab dignissimos possimus eveniet! Consequatur quidem, harum architecto a dolorum autem vel velit deleniti?
            Voluptatem, aliquam! Animi dolorem odit ducimus. Dolores hic similique aperiam molestias omnis inventore, perspiciatis facilis exercitationem illum placeat nemo ullam id magnam nulla neque dignissimos sequi sint perferendis voluptatem quod.</p>
            <p [ngClass]="getClasses()">Parrafo 2</p>
            <h2 [ngClass]="getClasses()">Titulo lorem daksdkasljdkasjdaskldj</h2>
            <p [ngClass]="getClasses()">Parrafo 3</p>
            <p [ngClass]="getClasses()">Parrafo 4 <a href="" target="_blank" rel="noreferrer" class="link">Video explicativo</a></p>
            <h2 [ngClass]="getClasses()">Titulo 2</h2>
            <p [ngClass]="getClasses()">Parrafo 5</p>
            <p [ngClass]="getClasses()">Parrafo 6</p>
            <h2 [ngClass]="getClasses()">Titulo 3</h2>
            <p [ngClass]="getClasses()">Parrafo 7</p>
        </div>
    </div>
</div>