.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
  }
  
  input[type="text"] {
    width: 200px; /* ancho inicial */
    height: 40px; /* altura inicial */
    /* El width 100% debajo se eliminara una vez configure lo responsive */
    width: 100%;
    padding: 10px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease, height 0.3s ease; /* animación de transición */
  }
  
  input[type="text"]:focus {
    width: 100%; /* ancho al hacer click */
  }