/* .container{
    margin-top: 95px;
}

.container-nav{
    display: flex;
    justify-content: center;
}

.paginator-1,
.paginator-2,
.paginator-3,
.paginator-next{
    opacity: 1;
    width: auto;
    height: auto;
    padding: 2rem;
    font-weight: 400;
    font-size: 18px;
} */