.container-data{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 96px;
    align-items: center;
    margin-bottom: 50px;
    transition: transform .3s;
    cursor: pointer;
}

.container-data:hover{
    color: var(--color-link);
    transform: translateY(-3px);
}

.container-data img{
    height: 280px;
    box-shadow: rgb(0 0 0 / 30%) 0px 30px 60px -10px, rgb(0 0 0 / 33%) 0px 18px 36px -18px;
    object-fit:cover;
}

.container-data-text h2{
    line-height: 1.333;
    font-weight: bold;
    font-size: 21px;
    font-family: var(--tipo-secondary);
    margin-bottom: 10px;
    transition: color 0.2s ease-in-out 0s;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.container-data-text h3{
    text-overflow: ellipsis;
    overflow-wrap: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--text-second);
    max-width: 515px;
}

.container-data-text p{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-third);
    opacity: .6;
}


/* Styles for more articles seccion */
.data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1.5em;
}

.dataText{
    padding-top: 1.5em;
}


/* STYLES FOR SMALL RESPONSIVE VIEW */
.container-data.small{
    column-gap: 46px;
}


/* STYLES FOR XSMALL RESPONSIVE VIEW */
.container-data.xSmall{
    column-gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-data-text.xSmall{
    flex-direction: column;
    padding-top: 1em;
}

.container-data-text h2.xSmall{
    font-size: 20px;
}