<div class="parent-container" (click)="navigateToArticle(dataArticle.url_article)">
    <a [ngStyle]="cssService.cssChildPropertiesData" [ngClass]="stylesForMoreArticlesData" class="container-data" [ngClass]="getClasses()">
        <img src={{dataArticle.hero_image}} alt="" >
        <div [ngStyle]="cssService.cssChildPropertiesDataText " [ngClass]="stylesForMoreArticlesDataText" class="container-data-text" [ngClass]="getClasses()">
            <h2 [ngClass]="getClasses()">{{dataArticle.title}}</h2>
            <h3>{{dataArticle.description}}</h3>
            <p>{{dataArticle.read_time}}</p>
        </div>
    </a>
</div>
